<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
    <div class="article-wrapper">
        <%- partial('_post/gallery') %>
        <header class="article-header">
            <%- partial('_post/title') %>
            <div class="article-meta">
                <%- partial('_post/date') %>
                <%- partial('_post/category') %>
            </div>
        </header>
        <div class="article-content" itemprop="articleBody">
            <% if (post.excerpt && is_home()) { %>
                <%- post.excerpt %>
                <div class="read-more">
                    <a href="<%- url_for(post.path) %>#more" class="read-more-link"><%= __('posts.readmore') %></a>
                </div>
              <% } else { %>
                <%- post.content %>
              <% } %>
        </div>

        <% if (!is_home()) { %>
            <%- partial('_post/copyright') %>
            <footer class="article-footer">
                <%- partial('_post/tag') %>
                <%- partial('pagination', {page: post}) %>
            </footer>
        <% } %> 
    </div>
</article>