<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
    <div class="article-inner">
        <header class="article-header">
            <div class="article-title">
                <%- partial('_post/title', {class_name: 'article-title'}) %>
            </div>
            <div class="article-meta">
                <%- partial('_post/date', {class_name: 'article-date', date_format: null}) %>
            </div>
        </header>
        <div class="article-content" itemprop="articleBody">
            <% if (post.excerpt && is_home()) { %>
                <%- post.excerpt %>
                <div class="read-more">
                    <a href="<%- url_for(post.path) %>#more" class="read-more-link"><%= __('posts.readmore') %></a>
                </div>
              <% } else { %>
                <%- post.content %>
              <% } %>
        </div>
        <footer class="article-footer">
        </footer>
    </div>
</article>