<% if (!is_post()) { %>
<nav class="pagination">
  <% if (page.prev) { %>
  <a class="prev" href="<%- url_for(page.prev_link) %>">
    <i class="iconfont icon-left"></i>
    <span class="prev-text"><%= __('posts.prev') %></span>
  </a>
  <% } else { %>
  <div class="placeholder"></div>
  <% } %>
  <% if (page.next) { %>
  <a class="next" href="<%- url_for(page.next_link) %>">
    <span class="next-text"><%= __('posts.next') %></span>
    <i class="iconfont icon-right"></i>
  </a>
  <% } else { %>
  <div class="placeholder"></div>
  <% } %>
</nav>
<% } else { %>
<nav class="article-nav">
  <% if (page.prev) { %>
  <a class="prev" href="<%- url_for(page.prev.path) %>">
    <i class="iconfont icon-left"></i>
    <span class="prev-text nav-default"><%= page.prev.title || __("posts.untitled") %></span>
    <span class="prev-text nav-mobile"><%= __('posts.prev_post') %></span>
  </a>
  <% } else { %>
  <div class="placeholder"></div>
  <% } %>
  <% if (page.next) { %>
  <a class="next" href="<%- url_for(page.next.path) %>">
    <span class="next-text nav-default"><%= page.next.title || __("posts.untitled") %></span>
    <span class="prev-text nav-mobile"><%= __('posts.next_post') %></span>
    <i class="iconfont icon-right"></i>
  </a>
  <% } else { %>
  <div class="placeholder"></div>
  <% } %>
</nav>
<% } %>