<section id="archive" class="archive">
  <% var groupedYear %>
  <% page.posts.each(function(post, i) { %>
    <% var year = post.date.year(); %>
    <% if (groupedYear != year) { %> 
      <% groupedYear = year; %>
      <div class="collection-title">
          <h2 class="archive-year"><%= year %></h2>
      </div>
    <% } %>
    <div class="archive-post">
      <span class="archive-post-time">
          <%= date(post.date, 'MM-DD') %>
      </span>
      <span class="archive-post-title">
        <a href="<%- url_for(post.path) %>" class="archive-post-link">
          <%= post.title || __("posts.untitled") %>
        </a>
      </span>
    </div>
  <% }); %>
  <%- partial('_partial/pagination') %>
</section>